{% extends "layout.html" %}

{% block content %}
  <main class="container signup-section">
    <div class="section-content">

      <h2>Please enter the details below:</h2>

      <form method="POST" action="/">
        {{ form.hidden_tag() }}

        <div class="form-group">
          {{ form.account_id_3commas_signup.label }}

          {% if form.account_id_3commas_signup.errors %}
            {% for error in form.account_id_3commas_signup.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

          {{ form.account_id_3commas_signup }}
        </div>

        <div class="form-group">
          {{ form.api_key_3commas_signup.label }}

          {% if form.api_key_3commas_signup.errors %}
            {% for error in form.api_key_3commas_signup.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

          {{ form.api_key_3commas_signup }}
        </div>

        <div class="form-group">
          {{ form.api_secret_3commas_signup.label }}

          {% if form.api_secret_3commas_signup.errors %}
            {% for error in form.api_secret_3commas_signup.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

          {{ form.api_secret_3commas_signup }}
        </div>


        <div class="form-group">
          {{ form.api_key_ftx_signup.label }}

          {% if form.api_key_ftx_signup.errors %}
            {% for error in form.api_key_ftx_signup.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

          {{ form.api_key_ftx_signup }}
        </div>

        <div class="form-group">
          {{ form.api_secret_ftx_signup.label }}

          {% if form.api_secret_ftx_signup.errors %}
            {% for error in form.api_secret_ftx_signup.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

          {{ form.api_secret_ftx_signup }}
        </div>

        {{ form.run_button(class="btn-primary") }}
        {{ form.close_all_button(class="btn-primary") }}
        {{ form.cleanup_button(class="btn-primary") }}
        {{ form.position_button(class="btn-primary") }}
        {{ form.tp_button(class="btn-primary") }}

      </form>

    </div>
  </main>
  <div class="section-device">
    <img src="static/img/hybridbot.jpg">
  </div>

{% endblock %}